.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.yellow {
  background: yellow;
}

.color-div {
  height: 200px;
  width: 200px;
}

.colors-container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 100%;
  width: 100%;
}

.font-display {
  height: 40px;
  width: 100%;

  font-size: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}
